fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
bcrypt==4.0.1
passlib
mysql-connector-python
fastapi-mail
python-multipart
openrouter
groq
pinecone
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-pinecone
pypdf
sentence-transformers
